<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#3d405b">
    <title>Fruit inventory</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <p>ERROR 404 - FRUIT NOT FOUND HAHA</p>
    <a href="/">GO BACK</a>
</body>

</html>