<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit inventory</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include('navbar', {navbarLinks:navbarLinks}) %>
        <div class="form-container">
            <form action="/items" method="post" class="update-del-add-form">
            <div class="form-input-div">
                <label for="item-name">Item name</label>
                <input type="text" name="item-name" id="item-name">
            </div>
            <div class="form-input-div">
                <label for="item-quantity">Quantity</label>
                <input type="number" name="item-quantity" id="item-quantity">
            </div>

             <div class="form-input-div">
                <label for="select-category">Category</label>
                <select name="select-category" id="select-category">

                            <% categories.forEach(category => {  %>
                                <option value="<%= category.id %>"><%= category.name %> </option>
                      <%     });  %>
                </select>
            </div>
            <div class="form-buttons-div">
                <a href="/items"><button type="button">GO BACK</button></a>
            <button type="submit">ADD!</button>
            </div>
        </form>
        </div>
</body>

</html>