<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fruit shop inventory</title>
</head>
<body>
    <%- include('navbar', {navbarLinks:navbarLinks}) %>
    <div class="main-buttons-container">
        <a href="/categories"><div class="categories-div">CATEGORIES</div></a>
        <a href="/items"><div class="items-div">ITEMS</div></a>
    </div>
</body>
</html>