<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit inventory</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('navbar', {navbarLinks:navbarLinks}) %>
    <div class="main-buttons-container">
        <a href="/categories" class="categories-div">CATEGORIES</a>
        <a href="/items" class="items-div">ITEMS</a>
    </div>
  
</body>
</html>