<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#3d405b">
    <title>Fruit inventory</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('navbar', {navbarLinks:navbarLinks}) %>
    <div class="add-new-category-button-div">
        <a href="/categories/addnewcategory" class="add-category-button">Add Category</a>
    </div>
    <div class="category-container">
        <% categories.forEach(category => {    %>
        <div class="category-instance">
            <p> <%= category.name %></p>
             <div class="show-category-buttons-div">
                <form action="/categories/<%=category.id%>/showUpdateCategoryForm" method="get">
                <button type="submit">Update</button>
            </form>

            <form action="/categories/<%=category.id%>/showDeleteCategoryForm" method="get">
                <button type="submit">Delete</button>
            </form>
             </div>

        </div>
        
<% }); %>

    </div>
 
    

</body> 
</html>