<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/categories/<%=categoryId%>/delete" method="post">
        <div>
            <label for="category-name">Category name</label>
            <input type="text" value="<%= categoryName %>" name="category-name" id="category-name" readonly>
        </div>
        <a href="/categories"><button type="button">GO BACK</button></a>
        <button type="submit">DELETE</button>
    </form>
</body>
</html>